.example {
  clear: both;
  margin-bottom: 100px;
}

.cssExample {
  background-color: #ffe5e5;
  border-radius: 5px;
  border: 1px solid #4d0000;
  padding: 10px;
  margin: 10px;
}

.cat {
  max-width: 300px;
  margin: 10px;
}

.clickHere {
  cursor: pointer;
  color: #0071bb;
}

.clickHere:hover {
  text-decoration: underline;  
}

.grid {
  max-width: 80%;
}

.gridSyntax {

}


.float {
  float: left;
}

.clear {
  clear: both;
}

div p a {
  color: red;
  text-decoration: none;
}

header {
  padding: 10px;
  background-color: #f5f5dc;
}
 ul li {
   list-style-type: none;
 }
